@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    font-size: 16px;
    --text-primary: white;
    --text-secondary: black;
    --text-accent:gray;
    --bg-primary: silver;
    --bg-secondary: white;
    --bg-accent: rgb(87, 82, 82);
    --col-coal: #383535 ;
    --transition-speed: 600ms;
    }

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
    /* outline: 2px solid limegreen !important; */
    /* background: rgb(0 100 0 / 0.1) !important; */
}

a:link {
    color: var(--text-primary);
    text-decoration: none;
}

a:visited {
    color: var(--text-primary);
    text-decoration: none;
}

a:hover {
    color: var(--text-primary);
    text-decoration: underline;
}

a:active {
    color: var(--text-primary);
    text-decoration: underline;
}

body{
    background: var(--bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    background-color: var(--col-coal);
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}
    
.nav-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    display: flex;
    flex-direction: row;
    font-size: 1.50rem;
    color: var(--text-primary);
    text-decoration: none;
    margin: auto;
    justify-content: right;
    width: 30vw;
}

.navbar-nav {
justify-content: left;
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
list-style-type: none;
}

.nav-item {
margin: 0;
}


.nav-link {
display: flex;
align-items: center;
height: 4rem;
padding: 8px;
color: var(--text-primary);
text-decoration: none;
filter: grayscale(100%) opacity(0.7);
transition: var(--transition-speed);
}

.nav-link:hover {
filter: grayscale(0%) opacity(1);
background: var(--bg-secondary);
color: var(--text-secondary);
}

  
  .navbar-nav > li {
    margin: 0 1rem;
    overflow: hidden;
  }

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
  }

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}


.container
{
    /* position: relative; */
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: var(--bg-secondary);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.container .left_side
{
    position: relative;
    background: var(--col-coal);
    padding: 40px;
    border-radius: 15px 0 0px 15px;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileText .imgBox
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBox img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2
{
    color: var(--text-primary);
    font-size: 2em;
    margin-top: 50px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    line-height: 0.8em;
    display: none;
}
.profileText h2 span
{
    font-size: 0.6em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 30px;
}

.about
{
    color: var(--text-primary);
    margin-bottom: 0;
}

.about:last-child
{
    margin-bottom: 0;
}

.title {
    margin-left: -40px;
    margin-right: -40px;
    padding:5px 0px;
    color: var(--text-primary);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--bg-accent);
}

.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    margin: 10px 0;
    position: relative;
    list-style: none;
    color: var(--text-primary);
}

/* .contactInfo ul li span{
    color: black;
} */


.contactInfo ul .email {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.contactInfo ul .email a
{
    margin-left: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.contactInfo ul .email a strong
{
    text-align: left;
}
.contactInfo ul .email a span
{
    text-align: left;
}

.contactInfo.education li
{
    margin-bottom: 15px;
}

.contactInfo.education h5
{
    color: var(--bg-primary);
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
    color: var(--bg-secondary);
    font-weight: 500;
}

.contactInfo.education h4
{
    color: var(--bg-secondary);
    font-weight: 300;
}

.contactInfo.skills ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:center;
    justify-content: space-evenly;
}

.contactInfo.skills ul p
{
    font-size: 13px;
}


.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: var(--bg-primary);
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: black;
}






.container .right_side
{
    position: relative;
    background: var(--bg-secondary);
    padding: 40px;
    border-radius: 0 15px 15px 0;
}

.profileText2 h2
{
    color: var(--text-secondary);
    font-size: 2.5em;
    margin-top: 50px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    line-height: 0.8em;
    padding-bottom: 110px;
}
.profileText2 h2 span
{
    font-size: 0.6em;
    font-weight: 300;
}
.hardskills
{
    position: relative;
    align-items: left;
    padding-bottom: 0;
}
.title2
{
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0,0,0);
    border-bottom: 1px solid rgba(0,0,0);
}

.hardskills ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:center;
    gap: 5px;
    justify-content: space-evenly;
}

.hardskills ul p
{
    font-size: 12px;
}

.hardskills ul li:last-child p:last-child
{
    font-size: 12px;
    margin-bottom: 20px;
}

.experience
{
    position: relative;
    align-items: left;
    padding-bottom: 0;
}

.title3
{
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0,0,0);
    border-bottom: 1px solid rgba(0,0,0);
}
  
.experience .box
{
    padding-top: 0px;
    position: relative;
    display: flex;
}
.experience .years
{
    position: relative;
    padding-right: 20px;
    min-width: 100px;
    max-width: 100px;
    text-transform: uppercase;
    color: var(--text-accent);
    font-weight: 600;
}
.experience .company
{
    position: relative;
    padding-left: 20px;
    /* border-left: 3px solid black; */
    box-shadow:inset 2px 0px 0px 0px black;
    -moz-box-shadow:inset 2px 0px 0px 0px black;
    -webkit-box-shadow:inset 2px 0px 0px 0px black;
    padding-bottom: 20px;
}

.experience .company h4
{
text-transform: uppercase;
font-weight: 600;
}
.experience .company h5
{
text-transform: uppercase;
font-weight: 600;
margin-bottom: 15px;
}

.experience .company:after {
    content: '';
    position: absolute;
    background: black;
    top: 4px;
    left: -4px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 0 4px white;
  }

  
.experience p
{
    margin-bottom: 8px;
    font-size: 13px;
}

.box:last-child .company p
{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.box:last-child .company
{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

  
@media (max-width:700px)
{
    .container
    {
        position: relative;
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .profileText2 h2
    {
    display: none;
    }
    .profileText h2
    {
        display: block;
    }

    .navbar
    {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        justify-content:flex-start;
        align-items: flex-end;
        min-height: auto;

    }

    .menu-button-container {
        display: flex;
      }
      .navbar-nav {
        position: relative;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      #menu-toggle ~ .navbar-nav li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .navbar-nav li {
        border: 1px solid #333;
        height: 3.5em;
        padding: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .navbar-nav > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
      }
      .navbar-nav > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
}