@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
font-size: 16px;
--text-primary: white;
--text-secondary: black;
--text-accent:gray;
--bg-primary: silver;
--bg-secondary: white;
--bg-accent: rgb(87, 82, 82);
--col-coal: #383535 ;
--transition-speed: 600ms;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
    /* outline: 2px solid limegreen !important; */
    /* background: rgb(0 100 0 / 0.1) !important; */
}

a:link {
    color: var(--text-primary);
    text-decoration: none;
}

a:visited {
    color: var(--text-primary);
    text-decoration: none;
}

a:hover {
    color: var(--text-primary);
    text-decoration: underline;
}

a:active {
    color: var(--text-primary);
    text-decoration: underline;
}

body{
    background: var(--bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: auto;
}

header-component{
  display: flex;
  flex-direction: row;
  min-width: 100%;
}
header{
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

main {
margin-top: 4rem;
padding: 1rem;
}

.navbar {
    background-color: var(--col-coal);
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}
    
.nav-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    display: flex;
    flex-direction: row;
    font-size: 1.50rem;
    color: var(--text-primary);
    text-decoration: none;
    margin: auto;
    justify-content: right;
    width: 30vw;
}

.navbar-nav {
justify-content: left;
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
list-style-type: none;
}

.nav-item {
margin: 0;
}


.nav-link {
display: flex;
align-items: center;
height: 4rem;
padding: 8px;
color: var(--text-primary);
text-decoration: none;
filter: grayscale(100%) opacity(0.7);
transition: var(--transition-speed);
}

.nav-link:hover {
filter: grayscale(0%) opacity(1);
background: var(--bg-secondary);
color: var(--text-secondary);
}

  
  .navbar-nav > li {
    margin: 0 1rem;
    overflow: hidden;
  }

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
  }

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}



h1, p {
    margin: 0 0 1em 0;
    color: var(--bg-secondary);
  }
  
.wrapper {
    max-width: 940px;
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
}
  
@media screen and (min-width: 600px) {

/* no grid support? */
.block-a, .block-b, .block-c {
    float: left;
    width: 19.1489%;
}

.content {
    float: right;
    width: 79.7872%;
}

.wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(150px, auto);
}

.header, .footer {
    background-color: white;

    font-size: 16px;
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;
}

.block-a {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    grid-column: 1;
    grid-row: 2;
}

.block-b {
    grid-column: 1;
    grid-row: 4;
}

.block-c {
    grid-column: 1;
    grid-row: 6;
}

.content {
    grid-column: 2;
    grid-row: 2 / 7;
}

}

.wrapper > * {
border-radius: 5px;
padding: 20px;
/* font-size: 150%; */
/* needed for the floated layout*/
margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
.wrapper > * {
    width: auto;
    margin: 0;
}
}

@media (max-width:700px)
{
    .navbar
    {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        justify-content:flex-start;
        align-items: flex-end;
        min-height: auto;

    }

    .menu-button-container {
        display: flex;
      }
      .navbar-nav {
        position: relative;
        top: 0;
        margin-top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      #menu-toggle ~ .navbar-nav li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .navbar-nav li {
        border: 1px solid #333;
        height: 3.5em;
        padding: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .navbar-nav > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
      }
      .navbar-nav > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
}